<div class="page-content">
    <h1 class="display-4">Contact ButtaLove</h1>
    <p class="lead">Handcrafted by Annessia Scott in Atlanta.</p>
    <div class="alert alert-warning">
        <i class="bi bi-gift"></i> Check back in your birth month for special deals!
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
