<div id="testing_container" class="container">
    <div id="testing" class="row">
        <div class="col-md-6 my-4">
            <h3>HTTP Status Codes</h3>
            <div class="btn-group me-2" role="group" aria-label="HTTP Status Codes">
                <button id="400" type="button" class="btn btn-danger p-1 mx-2">400</button>
                <button id="401" type="button" class="btn btn-danger p-1 mx-2">401</button>
                <button id="403" type="button" class="btn btn-danger p-1 mx-2">403</button>
                <button id="404" type="button" class="btn btn-danger p-1 mx-2">404</button>
                <button id="500" type="button" class="btn btn-danger p-1 mx-2">500</button>
            </div>
        </div>
        <div class="col-md-6 my-4">
            <h3>Authentication</h3>
            <button id="auth" type="button" class="btn btn-success p-1 mx-2">Authenticate</button>
        </div>
    </div>
</div>
<script data-execute="true">
    (async () => {
        const { startErrorTesting } = await import('/scripts/modules/errorTesting.js');
        startErrorTesting;
    })();
</script>
